<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="../static/styles.css" rel="stylesheet">
        <title>BlackJack Extreme</title>

    </head>

    <body>

        <main>
            {% block main %}{% endblock %}
        </main>
        
        <p class="footer">
            For blackjack rules please visit <a href="http://www.hitorstand.net/strategy.php" target="_blank">this page.</a><br><br>
            This is BlackJack Extreme - by Brandon Kim
        </p>

    </body>

</html>
